*{
  box-sizing: border-box;
  outline: none;
}
html{
  background-color: #fffff6;
  color: #545455;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  padding: 0;
}
a{
  text-decoration: none;
  color: #44b4e5;
}
a:hover{
  text-decoration: underline;
}
body{
  max-width: 820px;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 100;
  margin: 0;
  padding-top: 14px;
}
#editor, #preview{
  width: 100%;
  position: relative;
}
.active{
  color: #44b4e5;
}
.title{
  width: 100%;
  line-height: 50px;
  letter-spacing: 6px;
  border-bottom: 2px dashed #dfdfdf;
  color: #949495;
  font-size: 36px;
}
#preview_toggle{
  float: right;
  clear: both;
}
span:hover{
  color: #cce6ed;
}
#markdown{
  font-family: 'Courier', monospace;
  letter-spacing: 1px;
  line-height: 22px;
  padding-top: 14px;  
  border: none;
  background-color: #fffff6;
  color: #646465;
  width: 100%;
  resize: none;
  font-size: 1em;
}
table{
  border: 1px dashed #cacaca;
  border-spacing: 1em;
}
.text{
  position: absolute;
  letter-spacing: 1px;
  line-height: 22px; 
}
.hidden{
  display: none;
}